<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> Denso Labs Biography </title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static' , filename='Sources/logos/DensoTech.png')}}" rel="icon">
  <link href="{{url_for('static' , filename='Sources/logos/DensoTech.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static' , filename='Sources/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static' , filename='Sources/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static' , filename='Sources/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static' , filename='Sources/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static' , filename='Sources/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{url_for('static' , filename='Sources/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static' , filename='Sources/css/style.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Denso Labs - v1.11.1
  * Template URL: https://Denso Technologies.com/Denso Technologies -bootstrap-startup-template/
  * Author: Denso Technologies.com
  * License: https://Denso Technologies.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{{url_for('Home')}}" class="logo d-flex align-items-center">
        <img src="{{url_for('static' , filename='Sources/logos/DensoTech.png')}}" alt="">
        <span> Denso Labs </span> 
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>


          <li><a class="nav-link scrollto" href="#portfolio">Portfolio</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
         

          <li class="dropdown"><a href="#"><span> Disciplines </span> <i class="bi bi-chevron-down"></i></a>
            
            <ul>
              <li><a href="#"> Artificail Intelligence </a></li>
            
              </li>
              <li><a href="#"> Web3 / Blockchain  </a></li>
              <li><a href="#"> Cloud Communications </a></li>
              <li><a href="#"> Data  </a></li>
            <li><a href="#"> Consultations </a></li>
            <li><a href="#"> Hire us  </a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="{{url_for('Home')}}">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center mt-4">
          <h1 data-aos="fade-up">We tailor modern tech solutions for growing our societies </h1>
          <h2 data-aos="fade-up" data-aos-delay="400">A  research | team of certified technophiles with a broad range of cutting edge software skills focusing on sectors including cloud communication | artificial intelligence | web-3 | data | e-commerce  .  </h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="{{url_for('Home')}}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{{url_for('static' , filename='Sources/img/Technophiles.jpg')}}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">

      <div class="container" data-aos="fade-up">
        <div class="row gx-0">

          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3> Who We Are & What We Do </h3>
              <h2> A flexible and result oriented team of developers | researchers ready to dive knee deep into current ecosystem challenges  </h2>
              <p>
            We produce highly intuitive  | modern | custom tailored software research  solutions for rolling ecosystem  technological trends / challenges  fitted for you and your community . Our service | research  charter extends and is not limited to Web3 / Blockchain solutions  | Cloud Communication | Artificial Intelligence | Data & ML . For more inquires / consultations on relevant technological trends feel free  to  contact us 24/7 .     
              </p>
              <div class="text-center text-lg-start">
                <a href="#" class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                  <span>Know More</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
            <img src="{{url_for('static' , filename='Sources/img/DeveloperTeam.jpg')}}" class="img-fluid" alt="">
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Core Values</h2>
          <p> Why You Should Invest With Us ?  </p>
        </header>

        <div class="row">

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box">
              <img src="{{url_for('static' , filename='Sources/img/BestInClass.jpg')}}" class="img-fluid " alt="" style="height:250px;">
              <h3> Cutting edge research & products </h3>
              <p>  We harness the power of brilliant technologies on the market and shape them to better suit your needs while conducting thorough research on the task at hand . By focusing on trend technology we are sure you wont miss out on relevant tech .  </p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
            <div class="box">
              <img src="{{url_for('static' , filename='Sources/img/SecurityPrinciple.jpg')}}" class="img-fluid" alt="">
              <h3>  Security & code reliability </h3>
              <p> Our Developer teams follow a strict coding principle with proper inspection and testing of each product perfomed so as to keep your and your data safe and anonymous over the web .  </p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
            <div class="box">
              <img src="{{url_for('static' , filename='Sources/img/Agile.jpg')}}" class="img-fluid " alt="" style="height:250px;">
              <h3> Ideation , actualization and deployment </h3>
              <p>  Expirience a rivetting market centric approach towards simplementation of products/ideas that alienate cetrain problems/ needs for the user / society . Here we dont just deploy products but we actualize them .</p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Values Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <header class="section-header">
          <p> Deployment Statistical Analysis </p>
        </header>

      <div class="container" data-aos="fade-up">

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="4" data-purecounter-duration="1" class="purecounter"></span>
                <p> Upcoming Products </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-journal-richtext" style="color: #ee6c20;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>
                <p> Live Products </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-headset" style="color: #15be56;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1" class="purecounter"></span>
                <p> Deployed Products  </p>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="bi bi-people" style="color: #bb0852;"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1" class="purecounter"></span>
                <p> Clientelle </p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

   

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Services</h2>
          <p>  Get To Know Our Disciplines </p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box blue">
              <i class="ri-discuss-line icon"></i>
              <h3> Artificial Intelligence </h3>
              <p>  Our multidisciplinary team of experts is focused on developing innovative solutions that harness the power of AI to solve real-world challenges. 
                We prioritize ethical practices and collaboration, ensuring that our advancements are not only cutting-edge but also beneficial to society. Through our groundbreaking work in areas like machine learning, natural language processing, and computer vision, we strive to empower industries ranging from healthcare to finance. Join us on our mission to transform ideas into impactful technologies that enhance lives and drive progress. </p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-box orange">
              <i class="ri-discuss-line icon"></i>
              <h3> Cloud Computing </h3>
              <p> we specialize in cutting-edge cloud computing solutions designed to empower businesses of all sizes. Our mission is to provide secure, scalable, and customizable cloud services that drive innovation and efficiency. With a focus on reliability and performance, we enable organizations to harness the full potential of the cloud, transforming their operations with ease.

                Our team of experts is dedicated to guiding clients through their digital transformation journeys, offering tailored solutions in cloud infrastructure, data storage, and managed services. </p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

        
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-box red">
              <i class="ri-discuss-line icon"></i>
              <h3> Web3  / Blockchain   </h3>
              <p>  we are at the forefront of the Web3 revolution, building decentralized solutions that empower individuals and communities. Our mission is to create a more open, transparent, and secure internet, where users have control over their digital identities and assets.

                Our innovative platform leverages blockchain technology to foster trust and collaboration, enabling seamless interactions across various applications. From decentralized finance (DeFi) to non-fungible tokens (NFTs) and beyond, we are committed to developing tools and ecosystems that drive engagement and inclusivity. </p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-box green">
              <i class="ri-discuss-line icon"></i>
              <h3> Data & ML   </h3>
              <p>  we harness the power of data and machine learning to unlock actionable insights and drive transformative outcomes for businesses across industries. Our mission is to empower organizations to make data-driven decisions through innovative and tailored solutions that maximize the value of their data.

                Our team of experts combines deep industry knowledge with advanced machine learning techniques to develop predictive models, automate processes, and enhance customer experiences. We work closely with clients to understand their challenges and deliver solutions that are not only effective but also scalable and sustainable. </p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>


          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-box purple">
              <i class="ri-discuss-line icon"></i>
              <h3> Cyber Security  </h3>
              <p>In a world that’s becoming increasingly digital, the risk of cyber threats has never been greater. Denso labs is here to revolutionize the way businesses approach cybersecurity. Our startup specializes in providing innovative and accessible cybersecurity solutions to protect companies from evolving threats, ensuring peace of mind and operational continuity.  Employing Cyber Security as a Service (CSaaS) is a solution that helps protect a company's digital defenses and assets from cyber threats  and malicious  activities .</p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
            <div class="service-box pink">
              <i class="ri-discuss-line icon"></i>
              <h3> Custom Services </h3>
              <p> we specialize in delivering tailored software solutions that empower businesses to reach their full potential. With a focus on innovation and adaptability, our expert team collaborates closely with clients to design, develop, and implement custom software that meets their unique needs and challenges.

                From startups to established enterprises, we understand that every organization has distinct goals. Our comprehensive services range from application development and integration to cloud solutions and maintenance, ensuring seamless performance and scalability </p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Services Section -->




    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2> Product Portfolio </h2>
          <p>  * Live Products * </p>
        </header>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active"> All </li>
              <li data-filter=".filter-app" > Wave - Business </li>
              <li data-filter=".filter-app" > Wave - Pro   </li>
              <li data-filter=".filter-app"> RentLord   </li>
              <li data-filter=".filter-app"> Surve-AI  </li>
            </ul>
          </div>
        </div>

        <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200" style="display:none;">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{url_for('static' , filename='Sources/img/portfolio/View-1.png')}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="{{url_for('static' , filename='Sources/img/portfolio/View-2.png')}}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 1"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{{url_for('static' , filename='Sources/img/portfolio/View-3.png')}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="{{url_for('static' , filename='Sources/img/portfolio/View-4.png')}}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{url_for('static' , filename='Sources/img/portfolio/View-5.png')}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="{{url_for('static' , filename='Sources/img/portfolio/View-6.png')}}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 2"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{url_for('static' , filename='Sources/img/portfolio/View-6.png')}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="{{url_for('static' , filename='Sources/img/portfolio/View-5.png')}}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 2"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{{url_for('static' , filename='Sources/img/portfolio/View-4.png')}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="{{url_for('static' , filename='Sources/img/portfolio/View-3.png')}}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 2"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{url_for('static' , filename='Sources/img/portfolio/View-2.png')}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="{{url_for('static' , filename='Sources/img/portfolio/View-1.png')}}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 3"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{url_for('static' , filename='Sources/img/portfolio/View-6.png')}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="{{url_for('static' , filename='Sources/img/portfolio/View-5.png')}}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 1"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{url_for('static' , filename='Sources/img/portfolio/View-4.png')}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="{{url_for('static' , filename='Sources/img/portfolio/View-3.png')}}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 3"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{{url_for('static' , filename='Sources/img/portfolio/View-2.png')}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="{{url_for('static' , filename='Sources/img/portfolio/View-1.png')}}" data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <!--
    <section id="testimonials" class="testimonials">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Testimonials</h2>
          <p>What people are saying ... </p>
        </header>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="200">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>

At all times, he was the first to assume command and steer others with a strong sense of purpose.


                </p>
                <div class="profile mt-auto">
                  <img src="{{url_for('static' , filename='Sources/img/team/team-1.jpg')}}" class="testimonial-img" alt="">
                  <h3> Albright Emeldah  </h3>
                  <h4> </h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                               -Clyde Javis  doesn’t preach; instead, he sets an example by going above and beyond to accomplish his goals.


                </p>
                <div class="profile mt-auto">
                  <img src="{{url_for('static' , filename='Sources/img/team/team-2.jpg')}}" class="testimonial-img" alt="">
                  <h3> Khalid Hussein </h3>
                  <h4> Software Developer </h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                      

 Clyde Javis  made an impact on me right away as a tough and capable software engineer.
            </p>
                <div class="profile mt-auto">
                  <img src="{{url_for('static' , filename='Sources/img/team/team-3.jpg')}}" class="testimonial-img" alt="">
                  <h3>Felix Awere </h3>
                  <h4> Software Developer / Enterpreneur </h4>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                        He was the one that took the initiative and led both of them, yet he was also a fierce competitor.
                </p>
                <div class="profile mt-auto">
                  <img src="{{url_for('static' , filename='Sources/img/team/team-4.jpg')}}" class="testimonial-img" alt="">
                  <h3> John Lobi </h3>
                  <h4> Software Developer / Enterpreneur </h4>
                </div>
              </div>
            </div>

           
            </div>
    

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>

    </section>
    End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Team</h2>
          <p> Meet The Team </p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="{{url_for('static' , filename='Sources/img/team/team-1.jpg')}}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4> Clyde Javis </h4>
                <span> Lead Researcher Scientist  | CTO </span>
                
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="{{url_for('static' , filename='Sources/img/team/team-4.jpg')}}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4> Khalid Hussein </h4>
                <span> Research Scientist  </span>
             
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="{{url_for('static' , filename='Sources/img/team/team-3.jpg')}}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4> Ibrahim Moses </h4>
                <span> Sales President </span>
              
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="{{url_for('static' , filename='Sources/img/team/team-2.jpg')}}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4> Faith Wairimu </h4>
                <span> Research Scientist </span>
          
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Team Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Our Clients</h2>
          <p> Who We've Worked With </p>
        </header>

        <div class="clients-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="{{url_for('static' , filename='Sources/img/clients/Adamur_r.png')}}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{{url_for('static' , filename='Sources/img/clients/Zone_01.png')}}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{{url_for('static' , filename='Sources/img/clients/Kisumu_JS.png')}}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{{url_for('static' , filename='Sources/img/clients/Lisk.png')}}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{{url_for('static' , filename='Sources/img/clients/Near.png')}}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{{url_for('static' , filename='Sources/img/clients/google.png')}}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{{url_for('static' , filename='Sources/img/clients/twilio.png')}}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{{url_for('static' , filename='Sources/img/clients/storj.png')}}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{{url_for('static' , filename='Sources/img/clients/livepeer.png')}}" class="img-fluid" alt=""></div>
            <div class="swiper-slide"><img src="{{url_for('static' , filename='Sources/img/clients/eth.jpg')}}" class="img-fluid" alt=""></div>
            
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

    </section><!-- End Clients Section -->

    <!-- ======= Recent Blog Posts Section ======= 
    <section id="recent-blog-posts" class="recent-blog-posts">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Blog</h2>
          <p>Recent posts form our Blog</p>
        </header>

        <div class="row">

          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="{{url_for('static' , filename='Sources/img/blog/blog-1.jpg')}}" class="img-fluid" alt=""></div>
              <span class="post-date">Tue, September 15</span>
              <h3 class="post-title"> Automated CI / CD Pipleines For Work Flow Synchronization In Your Products </h3>p
              <a href="blog-single.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="{{url_for('static' , filename='Sources/img/blog/blog-2.jpg')}}" class="img-fluid" alt=""></div>
              <span class="post-date">Fri, August 28</span>
              <h3 class="post-title"> Xml Parser Regulation To Lock Over Head On Code Injection . See How This Vulnerability's Lifestyle </h3>
              <a href="blog-single.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="{{url_for('static' , filename='Sources/img/blog/blog-3.jpg')}}" class="img-fluid" alt=""></div>
              <span class="post-date">Mon, July 11</span>
              <h3 class="post-title"> The Power Of Web 3 In Modern Technology , See How This Is Shaping The Market </h3>
              <a href="blog-single.html" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

        </div>

      </div>

    </section> 
    End Recent Blog Posts Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2> Company Communication </h2>
          <p>  Get Talking  </p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-6">

            <div class="row gy-4">
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>148 Technology Road ,<br>Kisumu , Ksm 40100</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+254 792619021<br>+254 759629166</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-envelope"></i>
                  <h3>Email Us</h3>
                  <p>support@Denso Technologies.org<br>salesforce@Denso Technologies.org</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bi bi-clock"></i>
                  <h3>Open Hours</h3>
                  <p>Monday - Friday<br>9:00AM - 05:00PM</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" class="php-email-form">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Your Email" required>
                </div>

                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Subject" required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Message" required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>

                  <button type="submit">Send Message</button>
                </div>

              </div>
            </form>

          </div>

        </div>

      </div>

    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <h4>Our Newsletter</h4>
            <p> Subscribe  To Our News Feed To Receive Updates On Trending Technologies And Company Products. </p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="{{url_for('static' , filename='Sources/img/logo.png')}}" alt="">
              <span>Denso Labs  </span>
            </a>
            We produce highly intuitive | modern | custom tailored software research solutions for rolling ecosystem technological trends / challenges fitted for you and your community . 
            Our service | research charter extends and is not limited to Web3 / Blockchain solutions | Cloud Communication | Artificial Intelligence | Data & ML .
             For more inquires / consultations on relevant technological trends feel free to contact us 24/7 
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4> Page Links </h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Portfolio</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Team</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Disciplines</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Contact</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Artificial Intelligence  </a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Web3 / Blockchain  </a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Cloud Computing </a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Security & IOT </a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Data </a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#"> Consultations </a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              148 Technology Road  <br>
              Kisumu , Ksm 40100<br>
              Kenya  <br><br>
              <strong>Phone:</strong> +254 741371429 <br>
              <strong>Email:</strong> support@Denso Technologies.org<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Denso Labs </span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://Denso Technologies.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://Denso Technologies.com/Denso Technologies -bootstrap-startup-template/ -->
        Designed by <a href="https://Denso Technologies.com/">Denso Labs </a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static' , filename='Sources/vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{url_for('static' , filename='Sources/vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static' , filename='Sources/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static' , filename='Sources/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static' , filename='Sources/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static' , filename='Sources/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static' , filename='Sources/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static' , filename='Sources/js/main.js')}}"></script>

</body>

</html>
